@model PIMS.ReportModels.LastReadingReportModel

@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<a href="./AllLatest"><button type="submit">Latest Readings All Devices</button></a>    
<button>Latest Readings Per Supplier</button>
