@{
    ViewBag.Title = "LostPasswordConfirmation";
}

@{
    Layout = "~/Views/Shared/_MainRegister.cshtml";
}

<h2>Password Reset</h2>

<h3>You should receive a link to reset your password in your email inbox shortly.</h3>
