@{
    ViewBag.Title = "RegisterAuthorisation";
}

@{
    Layout = "~/Views/Shared/_MainRegister.cshtml";
}

<h2>RegisterAuthorisation</h2>

<h3>Thank you for registering!</h3>

<h3>You will be informed shortly if you will have access to the Meter Reading System.</h3>
