@model IEnumerable<PIMS.Entities.UserAndRoles>


@{
    ViewBag.Title = "List Of Lay People";
}

<h2>List of LayUsers</h2>
    @using (Html.BeginForm("SearchUserInUserRoles", "Roles", FormMethod.Get))
{
    <div>
        <fieldset>
            <legend>Lay user</legend>
            <table style="border:none">
                <tr>
                <td><label class="editor-label">Search for User Name:</label></td>
                <td id="searchBar1">@Html.TextBox("SearchStringName")</td>
                    <td>
                        <input type="submit" value="Search" />
                    </td>
            </tr>
        </table>
            <div>
                    
                    
                    @if (TempData["Error"] != null) {
                        <div style="color:red">@TempData["Error"]</div>     
                    }
            </div>
    
            </fieldset>
        </div>
}

<table class ="tftable">
    @if ((Model != null) && (TempData["Error"] == null))
    {
    <tr>
        <th>
            Username
        </th>

        @if(Request.IsAuthenticated && User.IsInRole("Administrator"))
        {
       <th>
            
        </th>
        }
      
        </tr>
            foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                @if(Request.IsAuthenticated && User.IsInRole("Administrator"))
                {
                <td>
                    <u> @Html.ActionLink("Approve for Volunteer", "UserDetails", new { id = item.UserId }) </u>
                </td>
                }
               
            </tr>
    }
    }
        </table>

      <script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script>
    //$(document).ready(function () {
    //    $('#clearSearchButton').click(function () {
    //        $('#resultsTable').hide();
    //    });
    //});

    //$(document).ready(function () {
    //    $('#clearSearchButton').click(function () {
    //        $('#resultsTable').hide();
    //        $('#searchBar1').value = "";
    //        $('#searchBar2').value = "";
    //    });
    //});

    function RedirectToDetails(id) {
        window.location.assign("Details/" + id)
    }
</script>
