
<h2>You have been put down for the following Ceremony</h2>

<h3>Appointment Details: <br /></h3>
<h4>
    Church : @ViewBag.Church <br />
    Description : @ViewBag.Details <br />
    Date Of Appointment : @ViewBag.Date <br />
</h4>

<p></p>

<h3>Applicant Details <br/></h3>
<h4>
   Name of Volunteer  : @ViewBag.NameOfVolunteer <br/>
  
</h4>

<h2><b>Please Respond As Soon As Possible if unable to Volunteer </b></h2><br />