@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1><img src='@Url.Content("../../Images/logo.png")' title="title" /></h1>
</div>


<script type="text/javascript">
    window.history.forward();
</script>