

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<h3>Please contact Site Administrator to gain access</h3>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>MSDU-Number-Here</span>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">MSDU:</span>
        <span><a href="mailto:MeterReadings@welfare.ie">MeterReadings@welfare.ie</a></span>
    </p>
    </section>
