
@{
    ViewBag.Title = "Webcam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Webcam</h2>

<iframe class="embed-responsive-item" src="https://www.mcnmedia.tv/camera/st-kevins-church-killnamanagh-dublin/" width="1000" height="515" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

