@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = User.Identity.Name + "'s";
}

<h3>@username Calendar</h3>


<div id="calendar">
</div>
<table class="tftable">
    <tr>
        <th>Unconfirmed Appointmet</th>
        <th>Confirmed Appointment</th>
        <th>Wedding</th>
        <th>Baptism</th>
        <th>Funeral</th>
        <th>Confirmation</th>
        <th>Communion</th>
    </tr>
    <tr>
        <td style="background-color:#FF0000"></td>
        <td style="background-color:#0FF000"></td>
        <td style="background-color:#FFA32A"></td>
        <td style="background-color:#6495ed"></td>
        <td style="background-color:#000000"></td>
        <td style="background-color:#800080"></td>
        <td style="background-color:#ffff00"></td>
    </tr>
</table>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
                <a href="" id="viewDetails" class="btn btn-default" style="margin-right:5px;">
                    View Details
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />



    <script>
        $(document).ready(function () {
            var events = [];

            $.ajax({
                type: "GET",
                url: "/Appointments/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            details: v.DetailsOfAppointment,
                            date: moment(v.DateOfAppointment),
                            room: v.RoomType,
                            confirmed: v.Confirmed,
                            colour: v.ThemeColour,
                            church: v.Church.Name,
                            parishAdminName: v.Admins.AdministratorName,
                            parishAdminUser: v.Admins.AdminUsername,
                            parishAdminId: v.Admins.AdministratorId,
                            fee: v.Fee,
                            id: v.AppointmentId
                            
                        });
                        
                    })
                    GenerateCalender(events);  
                    
                },
                error: function (error) {
                    alert("failed");
                    console.log(error);
                }
            })

            function GenerateCalender(events) {
                $('#calendar').fullCalendar({
                    contentHeight: 500,
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek'
                    },
                    defaultView: 'agendaWeek',
                    timeFormat: 'HH:mm',
                    eventLimit: true,
                    eventColor: events.ThemeColour,
                    events: events,
                    axisFormat: 'H:mm',
                    slotLabelFormat: "HH:mm",
                    aspectRatio: 2.2,
                    minTime: "09:00:00",
                    maxTime: "17:00:00",
                    eventRender: function (event, element) {
                        if (event.fee == null) {
                            if (event.confirmed == false) {
                                element.css('background-color', '#FF0000');
                                element.css('border-color', '#FF0000');
                            }
                            else
                            {
                                element.css('background-color', '#00FF00');
                                element.css('border-color', '#00FF00');
                               
                            }
                        }
                        else if (event.fee != null)
                        {
                            if (event.details == "Wedding") {
                                element.css('background-color', '#FFA32A');
                                element.css('border-color', '#FFA32A');
                            }
                            else if (event.details == "Funeral") {
                                element.css('background-color', '#000000');
                                element.css('border-color', '#000000');
                            }
                            else if (event.details == "Baptism") {
                                element.css('background-color', '#6495ed');
                                element.css('border-color', '#6495ed');
                            }
                            else if (event.details == "Communion") {
                                element.css('background-color', 'ffff00');
                                element.css('border-color', '#ffff00');
                            }
                            else if (event.details == "Confirmation") {
                                element.css('background-color', '#800080');
                                element.css('border-color', '#800080');
                            }
                        }

                    },
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #details').text(calEvent.details);
                        var $details = $('<div/>');
                        
                        if (calEvent.fee != null) {
                            $details.append($('<p/>').html('<b>Date of Ceremony : </b>' + calEvent.date.format("DD-MMM-YYYY HH:mm a")));
                        }
                        else {
                            $details.append($('<p/>').html('<b>Date of Appointment : </b>' + calEvent.date.format("DD-MMM-YYYY HH:mm a")));
                        }
                        if (calEvent.end != null) {
                            $details.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $details.append($('<p/>').html('<b>Details : </b>' + calEvent.details));
                        $details.append($('<p/>').html('<b>Church Name : </b>' + calEvent.church));
                        if (calEvent.fee == null) {
                            if (calEvent.room != null) {
                                $details.append($('<p/>').html('<b>Room : </b>' + calEvent.room));
                            }
                            else {
                                $details.append($('<p/>').html('<b>Room Not Confirmed'));
                            }
                        }
                        $details.append($('<p/>').html('<b>Parish Admin : </b>' + calEvent.parishAdminName));
                        if (calEvent.confirmed == true)
                        {
                            $details.append($('<p/>').html('<b>Status : Confirmed </b>'));
                        }
                        else
                        {
                            $details.append($('<p/>').html('<b>Status : Not Confirmed </b>'));
                        }
                        $('#myModal #pDetails').empty().html($details);

                        $('#viewDetails').attr("href", '/Appointments/Edit/' + calEvent.id);

                        $('#myModal').modal();
                    },
                    
                    eventDrop: function (event) {
                        var data = {
                            AppointmentID: event.id,
                        };
                    }

                })
            }

        })
    </script>
