@model PIMS.Entities.Volunteer

@{
    ViewBag.Title = "VolunteerHub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Volunteer Hub</h3>
<div id="calendar"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                @*<a href="" id="viewDetails" class="btn btn-default" style="margin-right:5px;">
                    View Details
                </a>*@
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/Volunteers/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            appointmentID: v.AppointmentId,
                            details: v.DetailsOfAppointment,
                            date: moment(v.DateOfAppointment),
                            colour: v.ThemeColour,
                            church: v.Church.Name,
                            fee: v.Fee,
                            parishAdminName: v.Admins.AdministratorName,
                            parishAdminUser: v.Admins.AdminUsername,
                            parishAdminId: v.Admins.AdministratorId,
                            volunteer: v.Volunteers.Name
                        });

                    })
                     GenerateCalender(events);
                },
                error: function (error) {
                    alert("failed");
                    console.log(error);
                }
            })

            function GenerateCalender(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 500,
                    defaultDate: new Date(),
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month, agendaWeek'
                    },
                    timeFormat: 'HH:mm',
                    minTime: "09:00:00",
                    maxTime: "17:00:00",
                    slotDuration: '00:15:00',
                    defaultView: 'agendaWeek',
                    timeFormat: 'H:mm',
                    axisFormat: 'H:mm',
                    slotLabelFormat: "HH:mm",
                    defaultTimedEventDuration: '01:0:00',
                    eventLimit: true,
                    eventColor: events.ThemeColour,
                    events: events,
                    eventRender: function (event, element) {
                        if (event.fee == null) {
                            if (event.confirmed == false) {
                                element.css('background-color', '#FF0000');
                                element.css('border-color', '#FF0000');
                            }
                            else {
                                element.css('background-color', '#008000');
                                element.css('border-color', '#008000');
                            }
                        }
                        else
                        {
                            element.css('background-color', '#0000FF');
                            element.css('border-color', '#0000FF');

                        }
                    },
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #details').text(calEvent.details);
                        var $details = $('<div/>');

                        if (calEvent.fee != null) {
                            $details.append($('<p/>').html('<b>Date of Ceremony : </b>' + calEvent.date.format("DD-MMM-YYYY HH:mm a")));
                        }
                        else {
                            $details.append($('<p/>').html('<b>Date of Appointment : </b>' + calEvent.date.format("DD-MMM-YYYY HH:mm a")));
                        }
                        if (calEvent.end != null) {
                            $details.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $details.append($('<p/>').html('<b>Details : </b>' + calEvent.details));
                        $details.append($('<p/>').html('<b>Church Name : </b>' + calEvent.church));
                        if (calEvent.fee == null) {
                            if (calEvent.room != null) {
                                $details.append($('<p/>').html('<b>Room : </b>' + calEvent.room));
                            }
                            else {
                                $details.append($('<p/>').html('<b>Room Not Confirmed'));
                            }
                        }


                        $details.append($('<p/>').html('<b>Parish Admin : </b>' + calEvent.parishAdminName));
                        $details.append($('<p/>').html('<b>Status : Confirmed </b>'));
                        $('#myModal #pDetails').empty().html($details);

                        //$('#viewDetails').attr("href", '/Volunteers/JoinCeremony/' + calEvent.id);

                        $('#myModal').modal();
                    }
                 
                })
            }
        })
    </script>